/* table style */

table{
    border-collapse: collapse;
}

table th {
    text-align: left;
    background-color: grey;
    padding: 4px 30px 4px 8px;
}

table td{
    border: 1px solid grey;
    padding: 4px 8px;
}